@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
.fondo {
      background: linear-gradient(to bottom, black, rgb(0, 128, 90));
      background-size: cover;
      background-position: center;
  }
  