@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    

h1 {
    color: rgb(204, 235, 217);
}

.fondo {
      background: linear-gradient(to bottom, black, rgb(0, 128, 90));
      background-size: cover;
      background-position: center;
  }
  
/* Color de fondo del navbar */
.navbar {
    background-color: #1b3623; /* Color azul claro */
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  
  /* Color de fondo del container-fluid */
  .container-fluid {
    padding: 0;
    margin: 0;
    background-color: #364e3b; /* Color azul claro */
  }
  
  /* Opcional: eliminar el espacio alrededor de los elementos internos */
  .navbar-nav, .navbar-nav > li, .nav-link {
    padding: 0;
    margin: 0;
  }
  
  .navbar-brand {
    color: #ecdcdc; /* Cambiar el color del texto a blanco */
}
  
/* Cambiar el color del texto de los enlaces "Signin", "Signup" y "Logout" */
.nav-link.logged-out {
    color: #c1d8c1; /* Rojo */
}

.nav-link.logged-in {
    color: #c1d8c1; /* Verde */
}


  
  /* Cambiar el color del label */
label {
    color: rgb(188, 219, 201); /* Color azul */
  }
  
  /* Cambiar el color del button */
  button {
    color: rgb(22, 124, 2); /* Color rojo */
  }
  
  .custom-modal .modal-content {
    background-color: #99861d; 
    color: #abad17; 
}

.custom-modal .modal-content {
    background-color:#063128d5 ; 
    color:  #bd5fbd;
}

.custom-modal .modal-content {
    border-color: #0d7564;
    border-width: 3px;
}

/* Estilos personalizados para los botones en el modal Signin */
#signin-modal button[type="submit"] {
    background-color: #aa101000; /* Azul */
    color: rgba(255, 255, 255, 0.719); /* Texto blanco */
    border-color: #0d7564;
}

#signin-modal #google-login {
    background-color:#aa101000 ; /* Amarillo */
    color: rgb(255, 255, 255); /* Texto negro */
    border-color:#0d7564 ; /* Borde amarillo */
}
