@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
body {
      height: 100vh;
}

h1 {
    color: rgb(204, 235, 217);
}

.fondo {
      background: linear-gradient(to bottom, black, rgb(0, 128, 90));
      background-size: cover;
      background-position: center;
  }
  
  #task-main-container {
      min-height: 100vh; 
  }
  
  .navbar-metallic {
      border: 2px solid silver; /* Define un borde plateado */
      background-size: 400% 400%; /* Tamaño del degradado */
      animation: gradientAnimation 5s ease infinite; /* Agrega una animación para el degradado */
      position: relative; /* Asegura que el degradado esté contenido dentro del navbar */
      overflow: hidden; /* Oculta cualquier exceso de brillo que pueda salir del navbar */
      box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5); /* Aplica un degradado radial */
  }
  
  @keyframes gradientAnimation {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  .custom-modal .modal-content {
    background-color: #99861d; 
    color: #abad17; 
}

.custom-modal .modal-content {
    background-color:#063128d5 ; 
    color:  #bd5fbd;
}

.custom-modal .modal-content {
    border-color: #0d7564;
    border-width: 3px;
}

/* Estilos personalizados para los botones en el modal Signin */
#signin-modal button[type="submit"] {
    background-color: #aa101000; /* Azul */
    color: rgba(255, 255, 255, 0.719); /* Texto blanco */
    border-color: #0d7564;
}

#signin-modal #google-login {
    background-color:#aa101000 ; /* Amarillo */
    color: rgb(255, 255, 255); /* Texto negro */
    border-color:#0d7564 ; /* Borde amarillo */
}
